@media only screen and (max-width: 768px) {

    header .navbar-brand {

        padding-left: 0rem;
    }

    .section-1 .row .col-md-6 .panel {
        position: initial;
        width: initial;
        height: initial;
    }

    .section-2 .cover {
        background-position: -20vmin -10vmin;
    }

    .programs .rect {

        width: 15rem;
        height: 11rem;

    }


}